# Analyzing Ebay Car Sales Data

Goal: Clean the data to analyze the included used car listings

Data source: https://data.world/data-society/used-cars-data

## 1. Importing the data

In [105]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [106]:
print(autos)

               dateCrawled                                               name  \
0      2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1      2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2      2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3      2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4      2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...
5      2016-03-21 13:47:45  Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...
6      2016-03-20 17:55:21  VW_Golf_III_GT_Special_Electronic_Green_Metall...
7      2016-03-16 18:55:19                               Golf_IV_1.9_TDI_90PS
8      2016-03-22 16:51:34                                         Seat_Arosa
9      2016-03-16 13:47:02          Renault_Megane_Scenic_1.6e_RT_Klimaanlage
10     2016-03-15 01:41:36                       VW_Golf_Tuning_in_siber/grau
11     2016-03-16 18:45:34                         Mercedes_A140_Motorschaden
12     2016-03-31 19:48:22  Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...
13     2016-03-23 10:48:32                                 Audi_A3_1.6_tuning
14     2016-03-23 11:50:46  Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...
15     2016-04-01 12:06:20        Corvette_C3_Coupe_T_Top_Crossfire_Injection
16     2016-03-16 14:59:02                                Opel_Vectra_B_Kombi
17     2016-03-29 11:46:22                          Volkswagen_Scirocco_2_G60
18     2016-03-26 19:57:44               Verkaufen_mein_bmw_e36_320_i_touring
19     2016-03-17 13:36:21        mazda_tribute_2.0_mit_gas_und_tuev_neu_2018
20     2016-03-05 19:57:31  Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...
21     2016-03-06 19:07:10                      Porsche_911_Carrera_4S_Cabrio
22     2016-03-28 20:50:54                               MINI_Cooper_S_Cabrio
23     2016-03-10 19:55:34   Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima
24     2016-04-03 11:57:02                         BMW_535i_xDrive_Sport_Aut.
25     2016-03-21 21:56:18  Ford_escort_kombi_an_bastler_mit_ghia_ausstattung
26     2016-04-03 22:46:28                                Volkswagen_Polo_Fox
27     2016-03-27 18:45:01             Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE
28     2016-03-19 21:56:19                                      MINI_Cooper_D
29     2016-04-02 12:45:44  Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...
...                    ...                                                ...
49970  2016-03-21 22:47:37  c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...
49971  2016-03-29 14:54:12                                         W.Lupo_1.0
49972  2016-03-26 22:25:23          Mercedes_Benz_Vito_115_CDI_Extralang_Aut.
49973  2016-03-27 05:32:39                   Mercedes_Benz_SLK_200_Kompressor
49974  2016-03-20 10:52:31  Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...
49975  2016-03-27 20:51:39          Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort
49976  2016-03-19 18:56:05  Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...
49977  2016-03-31 18:37:18                        Mercedes_Benz_C200_Cdi_W203
49978  2016-04-04 10:37:14                        Mercedes_Benz_E_200_Classic
49979  2016-03-20 18:38:40                      Volkswagen_Polo_1.6_TDI_Style
49980  2016-03-12 10:55:54                            Ford_Escort_Turnier_16V
49981  2016-03-15 09:38:21             Opel_Astra_Kombi_mit_Anhaengerkupplung
49982  2016-03-29 18:51:08            Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm
49983  2016-03-06 12:43:04                                      Ford_focus_99
49984  2016-03-31 22:48:48  Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...
49985  2016-04-02 16:38:23                          Verkaufe_meinen_vw_vento!
49986  2016-04-04 20:46:02  Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...
49987  2016-03-22 20:47:27  Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...
49988  2016-03-28 19:49:51                                         BMW_330_Ci
49989  2016-03-11 19:50:37        VW_Polo_zum_Ausschlachten_oder_Wiederaufbau
49990  2016-03-21 19:54:19         Mercedes_Benz_A_200__BlueEFFICIENCY__Urban
49991  2016-03-06 15:25:19                                         Kleinwagen
49992  2016-03-10 19:37:38              Fiat_Grande_Punto_1.4_T_Jet_16V_Sport
49993  2016-03-15 18:47:35           Audi_A3__1_8l__Silber;_schoenes_Fahrzeug
49994  2016-03-22 17:36:42  Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...
49995  2016-03-27 14:38:19   Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon
49996  2016-03-28 10:50:25  Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...
49997  2016-04-02 14:44:48                     Fiat_500_C_1.2_Dualogic_Lounge
49998  2016-03-08 19:25:42                 Audi_A3_2.0_TDI_Sportback_Ambition
49999  2016-03-14 00:42:12                                Opel_Vectra_1.6_16V

       seller offerType    price   abtest vehicleType  yearOfRegistration  \
0      privat   Angebot   $5,000  control         bus                2004
1      privat   Angebot   $8,500  control   limousine                1997
2      privat   Angebot   $8,990     test   limousine                2009
3      privat   Angebot   $4,350  control  kleinwagen                2007
4      privat   Angebot   $1,350     test       kombi                2003
5      privat   Angebot   $7,900     test         bus                2006
6      privat   Angebot     $300     test   limousine                1995
7      privat   Angebot   $1,990  control   limousine                1998
8      privat   Angebot     $250     test         NaN                2000
9      privat   Angebot     $590  control         bus                1997
10     privat   Angebot     $999     test         NaN                2017
11     privat   Angebot     $350  control         NaN                2000
12     privat   Angebot   $5,299  control  kleinwagen                2010
13     privat   Angebot   $1,350  control   limousine                1999
14     privat   Angebot   $3,999     test  kleinwagen                2007
15     privat   Angebot  $18,900     test       coupe                1982
16     privat   Angebot     $350     test       kombi                1999
17     privat   Angebot   $5,500     test       coupe                1990
18     privat   Angebot     $300  control         bus                1995
19     privat   Angebot   $4,150  control         suv                2004
20     privat   Angebot   $3,500     test       kombi                2003
21     privat   Angebot  $41,500     test      cabrio                2004
22     privat   Angebot  $25,450  control      cabrio                2015
23     privat   Angebot   $7,999  control         bus                2010
24     privat   Angebot  $48,500  control   limousine                2014
25     privat   Angebot      $90  control       kombi                1996
26     privat   Angebot     $777  control  kleinwagen                1992
27     privat   Angebot       $0  control         NaN                2005
28     privat   Angebot   $5,250  control  kleinwagen                2007
29     privat   Angebot   $4,999     test       kombi                2004
...       ...       ...      ...      ...         ...                 ...
49970  privat   Angebot  $15,800  control         bus                2010
49971  privat   Angebot     $950     test  kleinwagen                2001
49972  privat   Angebot   $3,300  control         bus                2004
49973  privat   Angebot   $6,000  control      cabrio                2004
49974  privat   Angebot       $0  control      cabrio                1983
49975  privat   Angebot   $9,700  control  kleinwagen                2012
49976  privat   Angebot   $5,900     test       kombi                1992
49977  privat   Angebot   $5,500  control   limousine                2003
49978  privat   Angebot     $900  control   limousine                1996
49979  privat   Angebot  $11,000     test  kleinwagen                2011
49980  privat   Angebot     $400  control       kombi                1995
49981  privat   Angebot   $2,000  control       kombi                1998
49982  privat   Angebot   $1,950  control  kleinwagen                2004
49983  privat   Angebot     $600     test  kleinwagen                1999
49984  privat   Angebot       $0     test         NaN                2000
49985  privat   Angebot   $1,000  control         NaN                1995
49986  privat   Angebot  $15,900  control   limousine                2010
49987  privat   Angebot  $21,990  control   limousine                2013
49988  privat   Angebot   $9,550  control       coupe                2001
49989  privat   Angebot     $150     test  kleinwagen                1997
49990  privat   Angebot  $17,500     test   limousine                2012
49991  privat   Angebot     $500  control         NaN                2016
49992  privat   Angebot   $4,800  control  kleinwagen                2009
49993  privat   Angebot   $1,650  control  kleinwagen                1997
49994  privat   Angebot   $5,000  control       kombi                2001
49995  privat   Angebot  $24,900  control   limousine                2011
49996  privat   Angebot   $1,980  control      cabrio                1996
49997  privat   Angebot  $13,200     test      cabrio                2014
49998  privat   Angebot  $22,900  control       kombi                2013
49999  privat   Angebot   $1,250  control   limousine                1996

         gearbox  powerPS     model   odometer  monthOfRegistration fuelType  \
0        manuell      158    andere  150,000km                    3      lpg
1      automatik      286       7er  150,000km                    6   benzin
2        manuell      102      golf   70,000km                    7   benzin
3      automatik       71    fortwo   70,000km                    6   benzin
4        manuell        0     focus  150,000km                    7   benzin
5      automatik      150   voyager  150,000km                    4   diesel
6        manuell       90      golf  150,000km                    8   benzin
7        manuell       90      golf  150,000km                   12   diesel
8        manuell        0     arosa  150,000km                   10      NaN
9        manuell       90    megane  150,000km                    7   benzin
10       manuell       90       NaN  150,000km                    4   benzin
11           NaN        0       NaN  150,000km                    0   benzin
12     automatik       71    fortwo   50,000km                    9   benzin
13       manuell      101        a3  150,000km                   11   benzin
14       manuell       75      clio  150,000km                    9   benzin
15     automatik      203       NaN   80,000km                    6   benzin
16       manuell      101    vectra  150,000km                    5   benzin
17       manuell      205  scirocco  150,000km                    6   benzin
18       manuell      150       3er  150,000km                    0   benzin
19       manuell      124    andere  150,000km                    2      lpg
20       manuell      131        a4  150,000km                    5   diesel
21       manuell      320       911  150,000km                    4   benzin
22       manuell      184    cooper   10,000km                    1   benzin
23       manuell      120       NaN  150,000km                    2   diesel
24     automatik      306       5er   30,000km                   12   benzin
25       manuell      116       NaN  150,000km                    4   benzin
26       manuell       54      polo  125,000km                    2   benzin
27           NaN        0       NaN  150,000km                    0      NaN
28       manuell      110    cooper  150,000km                    7   diesel
29     automatik      204  e_klasse  150,000km                   10   diesel
...          ...      ...       ...        ...                  ...      ...
49970  automatik      136        c4   60,000km                    4   diesel
49971    manuell       50      lupo  150,000km                    4   benzin
49972  automatik      150      vito  150,000km                   10   diesel
49973    manuell      163       slk  150,000km                   11   benzin
49974    manuell       70      golf  150,000km                    2   benzin
49975  automatik       88      jazz  100,000km                   11   hybrid
49976  automatik      150        80  150,000km                   12   benzin
49977    manuell      116  c_klasse  150,000km                    2   diesel
49978  automatik      136  e_klasse  150,000km                    9   benzin
49979    manuell       90      polo   70,000km                   11   diesel
49980    manuell      105    escort  125,000km                    3   benzin
49981    manuell      115     astra  150,000km                   12   benzin
49982    manuell        0     fabia   90,000km                    7   benzin
49983    manuell      101     focus  150,000km                    4   benzin
49984        NaN        0       NaN  150,000km                    0      NaN
49985  automatik        0       NaN  150,000km                    0   benzin
49986  automatik      218      300c  125,000km                   11   diesel
49987    manuell      150        a3   50,000km                   11   diesel
49988    manuell      231       3er  150,000km                   10   benzin
49989    manuell        0      polo  150,000km                    5   benzin
49990    manuell      156  a_klasse   30,000km                   12   benzin
49991    manuell        0    twingo  150,000km                    0   benzin
49992    manuell      120    andere  125,000km                    9      lpg
49993    manuell        0       NaN  150,000km                    7   benzin
49994  automatik      299        a6  150,000km                    1   benzin
49995  automatik      239        q5  100,000km                    1   diesel
49996    manuell       75     astra  150,000km                    5   benzin
49997  automatik       69       500    5,000km                   11   benzin
49998    manuell      150        a3   40,000km                   11   diesel
49999    manuell      101    vectra  150,000km                    1   benzin

                brand notRepairedDamage          dateCreated  nrOfPictures  \
0             peugeot              nein  2016-03-26 00:00:00             0
1                 bmw              nein  2016-04-04 00:00:00             0
2          volkswagen              nein  2016-03-26 00:00:00             0
3               smart              nein  2016-03-12 00:00:00             0
4                ford              nein  2016-04-01 00:00:00             0
5            chrysler               NaN  2016-03-21 00:00:00             0
6          volkswagen               NaN  2016-03-20 00:00:00             0
7          volkswagen              nein  2016-03-16 00:00:00             0
8                seat              nein  2016-03-22 00:00:00             0
9             renault              nein  2016-03-16 00:00:00             0
10         volkswagen              nein  2016-03-14 00:00:00             0
11      mercedes_benz               NaN  2016-03-16 00:00:00             0
12              smart              nein  2016-03-31 00:00:00             0
13               audi              nein  2016-03-23 00:00:00             0
14            renault               NaN  2016-03-23 00:00:00             0
15     sonstige_autos              nein  2016-04-01 00:00:00             0
16               opel              nein  2016-03-16 00:00:00             0
17         volkswagen              nein  2016-03-29 00:00:00             0
18                bmw               NaN  2016-03-26 00:00:00             0
19              mazda              nein  2016-03-17 00:00:00             0
20               audi               NaN  2016-03-05 00:00:00             0
21            porsche              nein  2016-03-06 00:00:00             0
22               mini              nein  2016-03-28 00:00:00             0
23            peugeot              nein  2016-03-10 00:00:00             0
24                bmw              nein  2016-04-03 00:00:00             0
25               ford                ja  2016-03-21 00:00:00             0
26         volkswagen              nein  2016-04-03 00:00:00             0
27               ford               NaN  2016-03-27 00:00:00             0
28               mini                ja  2016-03-19 00:00:00             0
29      mercedes_benz              nein  2016-04-02 00:00:00             0
...               ...               ...                  ...           ...
49970         citroen              nein  2016-03-21 00:00:00             0
49971      volkswagen              nein  2016-03-29 00:00:00             0
49972   mercedes_benz                ja  2016-03-26 00:00:00             0
49973   mercedes_benz              nein  2016-03-27 00:00:00             0
49974      volkswagen              nein  2016-03-20 00:00:00             0
49975           honda              nein  2016-03-27 00:00:00             0
49976            audi              nein  2016-03-19 00:00:00             0
49977   mercedes_benz              nein  2016-03-31 00:00:00             0
49978   mercedes_benz                ja  2016-04-04 00:00:00             0
49979      volkswagen              nein  2016-03-20 00:00:00             0
49980            ford               NaN  2016-03-12 00:00:00             0
49981            opel              nein  2016-03-15 00:00:00             0
49982           skoda               NaN  2016-03-29 00:00:00             0
49983            ford               NaN  2016-03-06 00:00:00             0
49984  sonstige_autos               NaN  2016-03-31 00:00:00             0
49985      volkswagen               NaN  2016-04-02 00:00:00             0
49986        chrysler              nein  2016-04-04 00:00:00             0
49987            audi              nein  2016-03-22 00:00:00             0
49988             bmw              nein  2016-03-28 00:00:00             0
49989      volkswagen                ja  2016-03-11 00:00:00             0
49990   mercedes_benz              nein  2016-03-21 00:00:00             0
49991         renault               NaN  2016-03-06 00:00:00             0
49992            fiat              nein  2016-03-10 00:00:00             0
49993            audi               NaN  2016-03-15 00:00:00             0
49994            audi              nein  2016-03-22 00:00:00             0
49995            audi              nein  2016-03-27 00:00:00             0
49996            opel              nein  2016-03-28 00:00:00             0
49997            fiat              nein  2016-04-02 00:00:00             0
49998            audi              nein  2016-03-08 00:00:00             0
49999            opel              nein  2016-03-13 00:00:00             0

       postalCode             lastSeen
0           79588  2016-04-06 06:45:54
1           71034  2016-04-06 14:45:08
2           35394  2016-04-06 20:15:37
3           33729  2016-03-15 03:16:28
4           39218  2016-04-01 14:38:50
5           22962  2016-04-06 09:45:21
6           31535  2016-03-23 02:48:59
7           53474  2016-04-07 03:17:32
8            7426  2016-03-26 18:18:10
9           15749  2016-04-06 10:46:35
10          86157  2016-04-07 03:16:21
11          17498  2016-03-16 18:45:34
12          34590  2016-04-06 14:17:52
13          12043  2016-04-01 14:17:13
14          81737  2016-04-01 15:46:47
15          61276  2016-04-02 21:10:48
16          57299  2016-03-18 05:29:37
17          74821  2016-04-05 20:46:26
18          54329  2016-04-02 12:16:41
19          40878  2016-03-17 14:45:58
20          53913  2016-03-07 05:46:46
21          65428  2016-04-05 23:46:19
22          44789  2016-04-01 06:45:30
23          30900  2016-03-17 08:45:17
24          22547  2016-04-07 13:16:50
25          27574  2016-04-01 05:16:49
26          38110  2016-04-05 23:46:48
27          66701  2016-03-27 18:45:01

## 2. Observing the data

In [107]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [108]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Observations:

* The dataset contains 20 columns, most of which are strings.

* Some columns have null values, but none have more than 20% null values.

* The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

* The 'dateCrawled' column is the date when this ad was first crawled and the 'name' column shows the name of the car.

* The content of the data is in german, as it can be found from the values in the 'notRepairedDamage' column.

## 3. Renaming the columns

In [109]:
cols = autos.columns.copy()

# The original column names
print(cols)

alist = []
for c in cols:
    if c == 'yearOfRegistration':
        c = 'registration_year'
    elif c == 'monthOfRegistration':
        c = 'registration_month'
    elif c == 'notRepairedDamage':
        c = 'unrepaired_damage'
    elif c == 'dateCreated':
        c = 'ad_created'
    elif c == 'dateCrawled':
        c = 'date_crawled'
    elif c == 'offerType':
        c = 'offer_type'
    elif c == 'vehicleType':
        c = 'vehicle_type'
    elif c == 'gearbox':
        c = 'gear_box'
    elif c == 'powerPS':
        c = 'power_PS'
    elif c == 'fuelType':
        c = 'fuel_type'
    elif c == 'nrOfPictures':
        c = 'nr_of_pictures'
    elif c == 'postalCode':
        c = 'postal_code'
    elif c == 'lastSeen':
        c = 'last_seen'
    else:
        c = c
    alist.append(c)
                 
# The new column names
print(alist)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')
['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicle_type', 'registration_year', 'gear_box', 'power_PS', 'model', 'odometer', 'registration_month', 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code', 'last_seen']

In [110]:
autos.columns = alist
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In order to avoid confusion with DataFrame methods and properties, camel case column names were changed to snake case. It is also easier to extend to slices and indexing.


Next, we explore the dataset to further clean the data.

## 4. Dropping columns with insignificant values

In [111]:
# Explore the entire dataset
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-21 20:37:19,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Let's look for text columns where all or almost all values are the same. These can often be dropped as they don't have useful information for analysis.

In [112]:
autos['seller'].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [113]:
autos['offer_type'].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [114]:
autos['nr_of_pictures'].value_counts()

0    50000
Name: nr_of_pictures, dtype: int64

In [115]:
autos = autos.drop(['seller', 'offer_type', 'nr_of_pictures'], axis=1)
autos.head()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50

## 5. Converting text columns to numeric type

Numeric data stored as text('price' and 'odometer' columns) will also be converted to integers.

In [116]:
autos['price'] = autos['price'].str.replace('$','').str.replace(',','').astype(int)
autos.rename({'price':'price_dollar'}, axis=1, inplace=True)

In [117]:
autos['price_dollar'].head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price_dollar, dtype: int64

In [118]:
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','').astype(int)
autos.rename({'odometer':'odometer_km'}, axis=1, inplace=True)

In [119]:
autos['odometer_km'].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64

## 6. Getting rid of outliers

Let's continue analyzing the 'odometer_km' and 'price_dollar' columns

In [120]:
autos['price_dollar'].unique().shape

(2357,)

In [121]:
autos['price_dollar'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_dollar, dtype: float64

In [122]:
autos['price_dollar'].value_counts().sort_index(ascending=False).head()

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
Name: price_dollar, dtype: int64

In [123]:
autos['price_dollar'].value_counts().sort_index(ascending=True).head()

0    1421
1     156
2       3
3       1
5       2
Name: price_dollar, dtype: int64

We can find that the maximum value '99999999' is an outlier, so we get rid of this row by changing the range.

In [124]:
autos = autos[autos['price_dollar'].between(0,27322222)]
print(autos['price_dollar'].value_counts().sort_index(ascending=True))

0           1421
1            156
2              3
3              1
5              2
8              1
9              1
10             7
11             2
12             3
13             2
14             1
15             2
17             3
18             1
20             4
25             5
29             1
30             7
35             1
40             6
45             4
47             1
49             4
50            49
55             2
59             1
60             9
65             5
66             1
            ...
145000         1
151990         1
155000         1
163500         1
163991         1
169000         1
169999         1
175000         1
180000         1
190000         1
194000         1
197000         1
198000         1
220000         1
250000         1
259000         1
265000         1
295000         1
299000         1
345000         1
350000         1
999990         1
999999         2
1234566        1
1300000        1
3890000        1
10000000       1
11111111       2
12345678       3
27322222       1
Name: price_dollar, Length: 2356, dtype: int64

In [125]:
autos['odometer_km'].unique().shape

(13,)

In [126]:
autos['odometer_km'].describe()

count     49999.000000
mean     125732.214644
std       40042.465064
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [127]:
autos['odometer_km'].value_counts().sort_index(ascending=True)

5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32423
Name: odometer_km, dtype: int64

We can't find an outlier for the 'odometer_km' column, so we leave this column as it is.

## 7. Exploring date columns


Let's now move on to the date columns and understand the date range the data covers.


'date_crawled', 'last_seen', and 'ad_created' columns are all identified as string values by pandas. Because these three columns are represented as strings, we need to convert the data into a numerical representation so we can understand it quantitatively. On the other hand, 'registration_month' and 'registration_year' columns are represented as numeric values, so we can use methods like Series.describe() to understand the distribution without any extra data processing.


Let's first see how the values in these comlumns are formatted.

In [128]:
autos[['date_crawled','ad_created','last_seen','registration_month','registration_year']][0:5]

,date_crawled,ad_created,last_seen,registration_month,registration_year
0,2016-03-26 17:47:46,2016-03-26 00:00:00,2016-04-06 06:45:54,3,2004
1,2016-04-04 13:38:56,2016-04-04 00:00:00,2016-04-06 14:45:08,6,1997
2,2016-03-26 18:57:24,2016-03-26 00:00:00,2016-04-06 20:15:37,7,2009
3,2016-03-12 16:58:10,2016-03-12 00:00:00,2016-03-15 03:16:28,6,2007
4,2016-04-01 14:38:50,2016-04-01 00:00:00,2016-04-01 14:38:50,7,2003

Next, let's calculate the distribution of values in the 'date_crawled', 'ad_created', and 'last_seen' columns as percentages.

In [129]:
print(autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

2016-03-05    0.025381
2016-03-06    0.013940
2016-03-07    0.035961
2016-03-08    0.033301
2016-03-09    0.033221
2016-03-10    0.032121
2016-03-11    0.032481
2016-03-12    0.036781
2016-03-13    0.015560
2016-03-14    0.036621
2016-03-15    0.033981
2016-03-16    0.029501
2016-03-17    0.031521
2016-03-18    0.013060
2016-03-19    0.034901
2016-03-20    0.037821
2016-03-21    0.037521
2016-03-22    0.032921
2016-03-23    0.032381
2016-03-24    0.029101
2016-03-25    0.031741
2016-03-26    0.032481
2016-03-27    0.031041
2016-03-28    0.034841
2016-03-29    0.034181
2016-03-30    0.033621
2016-03-31    0.031921
2016-04-01    0.033801
2016-04-02    0.035401
2016-04-03    0.038681
2016-04-04    0.036521
2016-04-05    0.013100
2016-04-06    0.003180
2016-04-07    0.001420
Name: date_crawled, dtype: float64

In [130]:
print(autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
2015-12-30    0.000020
2016-01-03    0.000020
2016-01-07    0.000020
2016-01-10    0.000040
2016-01-13    0.000020
2016-01-14    0.000020
2016-01-16    0.000020
2016-01-22    0.000020
2016-01-27    0.000060
2016-01-29    0.000020
2016-02-01    0.000020
2016-02-02    0.000040
2016-02-05    0.000040
2016-02-07    0.000020
2016-02-08    0.000020
2016-02-09    0.000040
2016-02-11    0.000020
2016-02-12    0.000060
2016-02-14    0.000040
2016-02-16    0.000020
2016-02-17    0.000020
2016-02-18    0.000040
2016-02-19    0.000060
2016-02-20    0.000040
2016-02-21    0.000060
                ...
2016-03-09    0.033241
2016-03-10    0.031861
2016-03-11    0.032781
2016-03-12    0.036621
2016-03-13    0.016920
2016-03-14    0.035221
2016-03-15    0.033741
2016-03-16    0.030001
2016-03-17    0.031201
2016-03-18    0.013720
2016-03-19    0.033841
2016-03-20    0.037861
2016-03-21    0.037721
2016-03-22    0.032781
2016-03-23    0.032181
2016-03-24    0.029081
2016-03-25    0.031881
2016-03-26    0.032561
2016-03-27    0.030901
2016-03-28    0.034961
2016-03-29    0.034141
2016-03-30    0.033441
2016-03-31    0.031921
2016-04-01    0.033801
2016-04-02    0.035081
2016-04-03    0.038921
2016-04-04    0.036881
2016-04-05    0.011840
2016-04-06    0.003260
2016-04-07    0.001280
Name: ad_created, Length: 76, dtype: float64

In [131]:
print(autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

2016-03-05    0.001080
2016-03-06    0.004420
2016-03-07    0.005360
2016-03-08    0.007600
2016-03-09    0.009860
2016-03-10    0.010760
2016-03-11    0.012520
2016-03-12    0.023820
2016-03-13    0.008980
2016-03-14    0.012800
2016-03-15    0.015880
2016-03-16    0.016440
2016-03-17    0.027921
2016-03-18    0.007420
2016-03-19    0.015740
2016-03-20    0.020700
2016-03-21    0.020740
2016-03-22    0.021580
2016-03-23    0.018580
2016-03-24    0.019560
2016-03-25    0.019200
2016-03-26    0.016960
2016-03-27    0.016020
2016-03-28    0.020860
2016-03-29    0.022340
2016-03-30    0.024840
2016-03-31    0.023840
2016-04-01    0.023100
2016-04-02    0.024900
2016-04-03    0.025361
2016-04-04    0.024620
2016-04-05    0.124282
2016-04-06    0.220984
2016-04-07    0.130923
Name: last_seen, dtype: float64

## 8. Cleaning date columns

For all three columns, we can find that maximum values were reached on April 3rd. Now, let's observe the 'registration_month' and 'registration_year' column.

In [132]:
autos['registration_month'].unique()

array([ 3,  6,  7,  4,  8, 12, 10,  0,  9, 11,  5,  2,  1])

'0' month seems to be a problem. Let's observe how many data points have '0' month.

In [133]:
autos[autos['registration_month']==0].describe()

,price_dollar,registration_year,power_PS,odometer_km,registration_month,postal_code
count,5.075000e+03,5075.000000,5075.000000,5075.000000,5075.0,5075.000000
mean,6.787435e+03,2012.730049,66.869754,127903.448276,0.0,48120.804335
std,2.331412e+05,285.652252,84.319912,44561.748688,0.0,25955.661438
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.0,1067.000000
25%,3.000000e+02,1997.000000,0.000000,125000.000000,0.0,26906.000000
50%,9.000000e+02,2000.000000,60.000000,150000.000000,0.0,46325.000000
75%,2.400000e+03,2006.000000,113.000000,150000.000000,0.0,66613.000000
max,1.234568e+07,9999.000000,1998.000000,150000.000000,0.0,99986.000000

In [134]:
print("Percentage of '0' registration_month:{}".format(len(autos[autos['registration_month']==0])/len(autos)*100))

Percentage of '0' registration_month:10.150203004060081

Data points with '0' registration_month column takes over 5%, which is a substantial amount, so we will leave it as it is.

In [135]:
autos['registration_year'].describe()

count    49999.000000
mean      2005.073401
std        105.713866
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

There seems to be some strange values in the 'registration_year' column(e.g. 1000, 9999), so let's observe it further.

In [136]:
autos['registration_year'].unique()

array([2004, 1997, 2009, 2007, 2003, 2006, 1995, 1998, 2000, 2017, 2010,
       1999, 1982, 1990, 2015, 2014, 1996, 1992, 2005, 2002, 2012, 2011,
       2008, 1985, 2016, 1994, 1986, 2001, 2018, 2013, 1972, 1993, 1988,
       1989, 1967, 1973, 1956, 1976, 4500, 1987, 1991, 1983, 1960, 1969,
       1950, 1978, 1980, 1984, 1963, 1977, 1961, 1968, 1934, 1965, 1971,
       1966, 1979, 1981, 1970, 1974, 1910, 1975, 5000, 4100, 2019, 1959,
       9996, 9999, 6200, 1964, 1958, 1800, 1948, 1931, 1943, 9000, 1941,
       1962, 1927, 1937, 1929, 1000, 1957, 1952, 1111, 1955, 1939, 8888,
       1954, 1938, 2800, 5911, 1500, 1953, 1951, 4800, 1001])

In [137]:
with pd.option_context('display.max_rows', 999):
    print(autos['registration_year'].value_counts())

2000    3354
2005    3015
1999    2999
2004    2737
2003    2727
2006    2708
2001    2703
2002    2533
1998    2453
2007    2304
2008    2231
2009    2098
1997    2028
2011    1634
2010    1597
2017    1453
1996    1444
2012    1323
2016    1316
1995    1313
2013     806
2014     666
1994     660
2018     492
1993     445
2015     399
1990     395
1992     391
1991     356
1989     181
1988     142
1985     105
1980      97
1986      76
1987      75
1983      53
1984      53
1978      47
1970      45
1982      43
1972      35
1979      35
1960      34
1981      31
1971      27
1967      27
1976      27
1968      26
1973      26
1974      24
1966      22
1977      22
1975      19
1969      19
1965      17
1964      12
1910       9
1963       9
1959       7
1961       6
1956       5
5000       4
9999       4
1958       4
1962       4
1937       4
2019       3
1950       3
1955       2
9000       2
1954       2
1800       2
1957       2
1941       2
1951       2
1934       2
4100       1
4800       1
1953       1
1111       1
1927       1
6200       1
4500       1
1943       1
5911       1
1939       1
1938       1
2800       1
8888       1
1000       1
1500       1
1948       1
1931       1
1929       1
1001       1
9996       1
1952       1
Name: registration_year, dtype: int64

We will only consider values from 1960 to 2016 because 2016 is the date when this data was crawled, and it wouldn't make sense to think that data was crawled before 1960 when computer was barely available.

In [138]:
autos = autos.loc[autos['registration_year'].between(1960,2016)]
print(autos)

              date_crawled                                               name  \
0      2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1      2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2      2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3      2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4      2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...
5      2016-03-21 13:47:45  Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...
6      2016-03-20 17:55:21  VW_Golf_III_GT_Special_Electronic_Green_Metall...
7      2016-03-16 18:55:19                               Golf_IV_1.9_TDI_90PS
8      2016-03-22 16:51:34                                         Seat_Arosa
9      2016-03-16 13:47:02          Renault_Megane_Scenic_1.6e_RT_Klimaanlage
11     2016-03-16 18:45:34                         Mercedes_A140_Motorschaden
12     2016-03-31 19:48:22  Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...
13     2016-03-23 10:48:32                                 Audi_A3_1.6_tuning
14     2016-03-23 11:50:46  Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...
15     2016-04-01 12:06:20        Corvette_C3_Coupe_T_Top_Crossfire_Injection
16     2016-03-16 14:59:02                                Opel_Vectra_B_Kombi
17     2016-03-29 11:46:22                          Volkswagen_Scirocco_2_G60
18     2016-03-26 19:57:44               Verkaufen_mein_bmw_e36_320_i_touring
19     2016-03-17 13:36:21        mazda_tribute_2.0_mit_gas_und_tuev_neu_2018
20     2016-03-05 19:57:31  Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...
21     2016-03-06 19:07:10                      Porsche_911_Carrera_4S_Cabrio
22     2016-03-28 20:50:54                               MINI_Cooper_S_Cabrio
23     2016-03-10 19:55:34   Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima
24     2016-04-03 11:57:02                         BMW_535i_xDrive_Sport_Aut.
25     2016-03-21 21:56:18  Ford_escort_kombi_an_bastler_mit_ghia_ausstattung
26     2016-04-03 22:46:28                                Volkswagen_Polo_Fox
27     2016-03-27 18:45:01             Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE
28     2016-03-19 21:56:19                                      MINI_Cooper_D
29     2016-04-02 12:45:44  Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...
30     2016-03-14 11:47:31                         Peugeot_206_Unfallfahrzeug
...                    ...                                                ...
49970  2016-03-21 22:47:37  c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...
49971  2016-03-29 14:54:12                                         W.Lupo_1.0
49972  2016-03-26 22:25:23          Mercedes_Benz_Vito_115_CDI_Extralang_Aut.
49973  2016-03-27 05:32:39                   Mercedes_Benz_SLK_200_Kompressor
49974  2016-03-20 10:52:31  Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...
49975  2016-03-27 20:51:39          Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort
49976  2016-03-19 18:56:05  Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...
49977  2016-03-31 18:37:18                        Mercedes_Benz_C200_Cdi_W203
49978  2016-04-04 10:37:14                        Mercedes_Benz_E_200_Classic
49979  2016-03-20 18:38:40                      Volkswagen_Polo_1.6_TDI_Style
49980  2016-03-12 10:55:54                            Ford_Escort_Turnier_16V
49981  2016-03-15 09:38:21             Opel_Astra_Kombi_mit_Anhaengerkupplung
49982  2016-03-29 18:51:08            Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm
49983  2016-03-06 12:43:04                                      Ford_focus_99
49984  2016-03-31 22:48:48  Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...
49985  2016-04-02 16:38:23                          Verkaufe_meinen_vw_vento!
49986  2016-04-04 20:46:02  Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...
49987  2016-03-22 20:47:27  Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...
49988  2016-03-28 19:49:51                                         BMW_330_Ci
49989  2016-03-11 19:50:37        VW_Polo_zum_Ausschlachten_oder_Wiederaufbau
49990  2016-03-21 19:54:19         Mercedes_Benz_A_200__BlueEFFICIENCY__Urban
49991  2016-03-06 15:25:19                                         Kleinwagen
49992  2016-03-10 19:37:38              Fiat_Grande_Punto_1.4_T_Jet_16V_Sport
49993  2016-03-15 18:47:35           Audi_A3__1_8l__Silber;_schoenes_Fahrzeug
49994  2016-03-22 17:36:42  Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...
49995  2016-03-27 14:38:19   Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon
49996  2016-03-28 10:50:25  Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...
49997  2016-04-02 14:44:48                     Fiat_500_C_1.2_Dualogic_Lounge
49998  2016-03-08 19:25:42                 Audi_A3_2.0_TDI_Sportback_Ambition
49999  2016-03-14 00:42:12                                Opel_Vectra_1.6_16V

       price_dollar   abtest vehicle_type  registration_year   gear_box  \
0              5000  control          bus               2004    manuell
1              8500  control    limousine               1997  automatik
2              8990     test    limousine               2009    manuell
3              4350  control   kleinwagen               2007  automatik
4              1350     test        kombi               2003    manuell
5              7900     test          bus               2006  automatik
6               300     test    limousine               1995    manuell
7              1990  control    limousine               1998    manuell
8               250     test          NaN               2000    manuell
9               590  control          bus               1997    manuell
11              350  control          NaN               2000        NaN
12             5299  control   kleinwagen               2010  automatik
13             1350  control    limousine               1999    manuell
14             3999     test   kleinwagen               2007    manuell
15            18900     test        coupe               1982  automatik
16              350     test        kombi               1999    manuell
17             5500     test        coupe               1990    manuell
18              300  control          bus               1995    manuell
19             4150  control          suv               2004    manuell
20             3500     test        kombi               2003    manuell
21            41500     test       cabrio               2004    manuell
22            25450  control       cabrio               2015    manuell
23             7999  control          bus               2010    manuell
24            48500  control    limousine               2014  automatik
25               90  control        kombi               1996    manuell
26              777  control   kleinwagen               1992    manuell
27                0  control          NaN               2005        NaN
28             5250  control   kleinwagen               2007    manuell
29             4999     test        kombi               2004  automatik
30               80     test   kleinwagen               2002    manuell
...             ...      ...          ...                ...        ...
49970         15800  control          bus               2010  automatik
49971           950     test   kleinwagen               2001    manuell
49972          3300  control          bus               2004  automatik
49973          6000  control       cabrio               2004    manuell
49974             0  control       cabrio               1983    manuell
49975          9700  control   kleinwagen               2012  automatik
49976          5900     test        kombi               1992  automatik
49977          5500  control    limousine               2003    manuell
49978           900  control    limousine               1996  automatik
49979         11000     test   kleinwagen               2011    manuell
49980           400  control        kombi               1995    manuell
49981          2000  control        kombi               1998    manuell
49982          1950  control   kleinwagen               2004    manuell
49983           600     test   kleinwagen               1999    manuell
49984             0     test          NaN               2000        NaN
49985          1000  control          NaN               1995  automatik
49986         15900  control    limousine               2010  automatik
49987         21990  control    limousine               2013    manuell
49988          9550  control        coupe               2001    manuell
49989           150     test   kleinwagen               1997    manuell
49990         17500     test    limousine               2012    manuell
49991           500  control          NaN               2016    manuell
49992          4800  control   kleinwagen               2009    manuell
49993          1650  control   kleinwagen               1997    manuell
49994          5000  control        kombi               2001  automatik
49995         24900  control    limousine               2011  automatik
49996          1980  control       cabrio               1996    manuell
49997         13200     test       cabrio               2014  automatik
49998         22900  control        kombi               2013    manuell
49999          1250  control    limousine               1996    manuell

       power_PS     model  odometer_km  registration_month fuel_type  \
0           158    andere       150000                   3       lpg
1           286       7er       150000                   6    benzin
2           102      golf        70000                   7    benzin
3            71    fortwo        70000                   6    benzin
4             0     focus       150000                   7    benzin
5           150   voyager       150000                   4    diesel
6            90      golf       150000                   8    benzin
7            90      golf       150000                  12    diesel
8             0     arosa       150000                  10       NaN
9            90    megane       150000                   7    benzin
11            0       NaN       150000                   0    benzin
12           71    fortwo        50000                   9    benzin
13          101        a3       150000                  11    benzin
14           75      clio       150000                   9    benzin
15          203       NaN        80000                   6    benzin
16          101    vectra       150000                   5    benzin
17          205  scirocco       150000                   6    benzin
18          150       3er       150000                   0    benzin
19          124    andere       150000                   2       lpg
20          131        a4       150000                   5    diesel
21          320       911       150000                   4    benzin
22          184    cooper        10000                   1    benzin
23          120       NaN       150000                   2    diesel
24          306       5er        30000                  12    benzin
25          116       NaN       150000                   4    benzin
26           54      polo       125000                   2    benzin
27            0       NaN       150000                   0       NaN
28          110    cooper       150000                   7    diesel
29          204  e_klasse       150000                  10    diesel
30           60   2_reihe       150000                   6    benzin
...         ...       ...          ...                 ...       ...
49970       136        c4        60000                   4    diesel
49971        50      lupo       150000                   4    benzin
49972       150      vito       150000                  10    diesel
49973       163       slk       150000                  11    benzin
49974        70      golf       150000                   2    benzin
49975        88      jazz       100000                  11    hybrid
49976       150        80       150000                  12    benzin
49977       116  c_klasse       150000                   2    diesel
49978       136  e_klasse       150000                   9    benzin
49979        90      polo        70000                  11    diesel
49980       105    escort       125000                   3    benzin
49981       115     astra       150000                  12    benzin
49982         0     fabia        90000                   7    benzin
49983       101     focus       150000                   4    benzin
49984         0       NaN       150000                   0       NaN
49985         0       NaN       150000                   0    benzin
49986       218      300c       125000                  11    diesel
49987       150        a3        50000                  11    diesel
49988       231       3er       150000                  10    benzin
49989         0      polo       150000                   5    benzin
49990       156  a_klasse        30000                  12    benzin
49991         0    twingo       150000                   0    benzin
49992       120    andere       125000                   9       lpg
49993         0       NaN       150000                   7    benzin
49994       299        a6       150000                   1    benzin
49995       239        q5       100000                   1    diesel
49996        75     astra       150000                   5    benzin
49997        69       500         5000                  11    benzin
49998       150        a3        40000                  11    diesel
49999       101    vectra       150000                   1    benzin

                brand unrepaired_damage           ad_created  postal_code  \
0             peugeot              nein  2016-03-26 00:00:00        79588
1                 bmw              nein  2016-04-04 00:00:00        71034
2          volkswagen              nein  2016-03-26 00:00:00        35394
3               smart              nein  2016-03-12 00:00:00        33729
4                ford              nein  2016-04-01 00:00:00        39218
5            chrysler               NaN  2016-03-21 00:00:00        22962
6          volkswagen               NaN  2016-03-20 00:00:00        31535
7          volkswagen              nein  2016-03-16 00:00:00        53474
8                seat              nein  2016-03-22 00:00:00         7426
9             renault              nein  2016-03-16 00:00:00        15749
11      mercedes_benz               NaN  2016-03-16 00:00:00        17498
12              smart              nein  2016-03-31 00:00:00        34590
13               audi              nein  2016-03-23 00:00:00        12043
14            renault               NaN  2016-03-23 00:00:00        81737
15     sonstige_autos              nein  2016-04-01 00:00:00        61276
16               opel              nein  2016-03-16 00:00:00        57299
17         volkswagen              nein  2016-03-29 00:00:00        74821
18                bmw               NaN  2016-03-26 00:00:00        54329
19              mazda              nein  2016-03-17 00:00:00        40878
20               audi               NaN  2016-03-05 00:00:00        53913
21            porsche              nein  2016-03-06 00:00:00        65428
22               mini              nein  2016-03-28 00:00:00        44789
23            peugeot              nein  2016-03-10 00:00:00        30900
24                bmw              nein  2016-04-03 00:00:00        22547
25               ford                ja  2016-03-21 00:00:00        27574
26         volkswagen              nein  2016-04-03 00:00:00        38110
27               ford               NaN  2016-03-27 00:00:00        66701
28               mini                ja  2016-03-19 00:00:00        15745
29      mercedes_benz              nein  2016-04-02 00:00:00        47638
30            peugeot                ja  2016-03-14 00:00:00        57076
...               ...               ...                  ...          ...
49970         citroen              nein  2016-03-21 00:00:00        14947
49971      volkswagen              nein  2016-03-29 00:00:00        65197
49972   mercedes_benz                ja  2016-03-26 00:00:00        65326
49973   mercedes_benz              nein  2016-03-27 00:00:00        53567
49974      volkswagen              nein  2016-03-20 00:00:00         8209
49975           honda              nein  2016-03-27 00:00:00        84385
49976            audi              nein  2016-03-19 00:00:00        36100
49977   mercedes_benz              nein  2016-03-31 00:00:00        33739
49978   mercedes_benz                ja  2016-04-04 00:00:00        24405
49979      volkswagen              nein  2016-03-20 00:00:00        48455
49980            ford               NaN  2016-03-12 00:00:00        56218
49981            opel              nein  2016-03-15 00:00:00        86859
49982           skoda               NaN  2016-03-29 00:00:00        45884
49983            ford               NaN  2016-03-06 00:00:00        52477
49984  sonstige_autos               NaN  2016-03-31 00:00:00        12103
49985      volkswagen               NaN  2016-04-02 00:00:00        30900
49986        chrysler              nein  2016-04-04 00:00:00        73527
49987            audi              nein  2016-03-22 00:00:00        94362
49988             bmw              nein  2016-03-28 00:00:00        83646
49989      volkswagen                ja  2016-03-11 00:00:00        21244
49990   mercedes_benz              nein  2016-03-21 00:00:00        58239
49991         renault               NaN  2016-03-06 00:00:00        61350
49992            fiat              nein  2016-03-10 00:00:00        68642
49993            audi               NaN  2016-03-15 00:00:00        65203
49994            audi              nein  2016-03-22 00:00:00        46537
49995            audi              nein  2016-03-27 00:00:00        82131
49996            opel              nein  2016-03-28 00:00:00        44807
49997            fiat              nein  2016-04-02 00:00:00        73430
49998            audi              nein  2016-03-08 00:00:00        35683
49999            opel              nein  2016-03-13 00:00:00        45897

                 last_seen
0      2016-04-06 06:45:54
1      2016-04-06 14:45:08
2      2016-04-06 20:15:37
3      2016-03-15 03:16:28
4      2016-04-01 14:38:50
5      2016-04-06 09:45:21
6      2016-03-23 02:48:59
7      2016-04-07 03:17:32
8      2016-03-26 18:18:10
9      2016-04-06 10:46:35
11     2016-03-16 18:45:34
12     2016-04-06 14:17:52
13     2016-04-01 14:17:13
14     2016-04-01 15:46:47
15     2016-04-02 21:10:48
16     2016-03-18 05:29:37
17     2016-04-05 20:46:26
18     2016-04-02 12:16:41
19     2016-03-17 14:45:58
20     2016-03-07 05:46:46
21     2016-04-05 23:46:19
22     2016-04-01 06:45:30
23     2016-03-17 08:45:17
24     2016-04-07 13:16:50
25     2016-04-01 05:16:49
26     2016-04-05 23:46:48
27     2016-03-27 18:45:01
28     2016-04-07 14:58:48
29     2016-04-02 12:45:44
30     2016-03-14 11:47:31
...                    ...
49970  2016-04-07 04:17:34
49971  2016-03-29 20:41:51
49972  2016-03-28 11:28:18
49973  2016-03-27 08:25:24
49974  2016-03-27 19:48:16
49975  2016-04-05 19:45:34
49976  2016-04-07 06:16:44
49977  2016-04-06 12:16:11
49978  2016-04-06 12:44:20
49979  2016-04-07 01:45:12
49980  2016-04-06 17:16:49
49981  2016-04-05 17:21:46
49982  2016-03-29 18:51:08
49983  2016-03-09 06:16:08
49984  2016-04-02 19:44:53
49985  2016-04-06 15:17:52
49986  2016-04-06 23:16:00
49987  2016-03-26 22:46:06
49988  2016-04-07 02:17:40
49989  2016-03-12 10:17:55
49990  2016-04-06 22:46:57
49991  2016-03-06 18:24:19
49992  2016-03-13 01:44:51
49993  2016-04-06 19:46:53
49994  2016-04-06 08:16:39
49995  2016-04-01 13:47:40
49996  2016-04-02 14:18:02
49997  2016-04-04 11:47:27
49998  2016-04-05 16:45:07
49999  2016-04-06 21:18:48

[47974 rows x 17 columns]

## 9. Observing car sales amount by year

In [139]:
autos['registration_year'].value_counts(normalize=True) * 100

2000    6.991287
2005    6.284654
1999    6.251303
2004    5.705174
2003    5.684329
2006    5.644724
2001    5.634302
2002    5.279943
1998    5.113186
2007    4.802601
2008    4.650436
2009    4.373202
1997    4.227290
2011    3.406012
2010    3.328886
1996    3.009964
2012    2.757744
2016    2.743153
1995    2.736899
2013    1.680077
2014    1.388252
1994    1.375745
1993    0.927586
2015    0.831701
1990    0.823363
1992    0.815025
1991    0.742069
1989    0.377288
1988    0.295994
1985    0.218869
1980    0.202193
1986    0.158419
1987    0.156335
1984    0.110477
1983    0.110477
1978    0.097970
1970    0.093801
1982    0.089632
1972    0.072956
1979    0.072956
1960    0.070872
1981    0.064618
1971    0.056280
1967    0.056280
1976    0.056280
1973    0.054196
1968    0.054196
1974    0.050027
1966    0.045858
1977    0.045858
1975    0.039605
1969    0.039605
1965    0.035436
1964    0.025014
1963    0.018760
1961    0.012507
1962    0.008338
Name: registration_year, dtype: float64

From the above observation, we can find that the amount of car sales peaked from the late 1990's to ealry 2000's.

## 10. Observing car sales amount by brand

In [140]:
br_series = autos['brand'].value_counts(normalize=True) * 100
print(br_series)

volkswagen        21.232334
bmw               11.012215
opel              10.820444
mercedes_benz      9.528078
audi               8.648435
ford               6.974611
renault            4.737983
peugeot            2.955768
fiat               2.588902
seat               1.817651
skoda              1.602952
mazda              1.515404
nissan             1.511235
smart              1.392421
citroen            1.392421
toyota             1.248593
sonstige_autos     1.052654
hyundai            0.985951
volvo              0.923417
mini               0.865052
mitsubishi         0.815025
honda              0.785842
kia                0.710802
alfa_romeo         0.660775
porsche            0.608663
suzuki             0.591987
chevrolet          0.566974
chrysler           0.366865
daihatsu           0.256389
dacia              0.256389
jeep               0.225122
subaru             0.218869
land_rover         0.202193
saab               0.160504
jaguar             0.158419
trabant            0.154250
daewoo             0.150081
rover              0.135490
lancia             0.108392
lada               0.060449
Name: brand, dtype: float64

## 11. Aggregating the data by top sales brands and mileage

Let's observe average price of each brand that were registered over 5%.

In [141]:
price_dict = {}
for i, r in br_series.iteritems():
    if r >= 5:
        selected_rows = autos[autos['brand']==i]
        selected_price_mean = selected_rows['price_dollar'].mean()
        price_dict[i] = selected_price_mean
print(price_dict)

{'bmw': 8334.045996592846, 'opel': 5253.836062415719, 'ford': 7233.840406455469, 'mercedes_benz': 8422.67818858018, 'audi': 9093.65003615329, 'volkswagen': 6513.250539956804}

From the aggregated data, we can find that the most expensive brands are BMW, Mercedes Benz, Audi, while Opel and Volkswagen are less expensive, and Ford is in between. For these top 6 brands, let's use aggregation to understand the average mileage for these cars and if there's any visible link with mean price.

In [142]:
mileage_dict = {}
for k, v in price_dict.items():
    selected_rows = autos[autos['brand']==k]
    selected_mileage_mean = selected_rows['odometer_km'].mean()
    mileage_dict[k] = selected_mileage_mean
print(mileage_dict)

{'bmw': 132458.8302101079, 'opel': 129258.33172799075, 'ford': 124176.62881052002, 'mercedes_benz': 130985.56114635748, 'audi': 129287.78018799711, 'volkswagen': 128731.10151187905}

In [144]:
s1 = pd.Series(price_dict)
s2 = pd.Series(mileage_dict)
df1 = pd.DataFrame(s1, columns=['mean_price'])
df2 = pd.DataFrame(s2, columns=['mean_mileage'])
df = df1.merge(df2, left_index=True, right_index=True)
df.round(2)

               mean_price  mean_mileage
audi              9093.65     129287.78
bmw               8334.05     132458.83
ford              7233.84     124176.63
mercedes_benz     8422.68     130985.56
opel              5253.84     129258.33
volkswagen        6513.25     128731.10

As it can be found from the above result, there is no clear relationship between each brand's price and its mileage.